{% extends 'base.html' %}
{% block title %}글 입력{% endblock %}

{% block content %}
<h1>Post 입력 화면</h1>
<form action="" method="POST" enctype="multipart/form-data"> 
    <!-- {% url 'posts:post-create' %} => create일 때만 actino에 설정 -->
    {% csrf_token %}
    <!-- 이미지를 보낼 때에는 form을 다른 방식으로 인코딩 해줘야 함. -->
    <!-- enctype="multipart/form-data" 를 통해 파일을 입력받아야 함 -->
    <!-- 다른 누군가가 중간에 파일 위조 및 변조의 가능성을 막기 위한 것이 CSRF 토큰? -->

    <!-- CSRF 토큰을 사용하니 f12 에서 csrfmiddlewaretoken이 생겼음 -->

    <div>
        <label for="">이미지</label>
        {% if post.image %}
        <p>현재 : <a href="{{ post.image.url }}">{{ post.image.name }}</a></p>
        <p>변경 : <input type="file" name="image" accept="image/*" id="id_image"></p>
        {% else %}
        <input type="file" name="image" accept="image/*" id="id_image"></p>
        {% endif %}

    </div>

    <div>
        <label for="id_content">내용</label>
        <textarea name="content" id="id_content" cols="30" rows="10">{% if post %}{{ post.content }}{% endif %}
        </textarea>

    </div>

    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}